<div class="container text-center">
    <h1>Andrew Wittig's Art Portfolio</h1>
    <%= image_tag "profile.jpg", alt: "Profile", class: "img-fluid rounded-circle profile-image pt-4"%>
    <p class="paragraph-narrow pt-4">
        Welcome! <br><br> When I'm not programming at my desk, you’ll likely find me sketching in my journal or creating animations and illustrations on my iPad. Art has always been a space where I can unwind, set aside my troubles, or even spawl them out onto the page when I need to.
    </p>
    <div class="pt-5">
        <a href="https://strangefew.itch.io/" target="_blank" class="btn btn-dark mx-2">
            <i class="fa-brands fa-itch-io"></i> Itch.io
        </a>
        <a href="mailto:andywittig10@gmail.com" class="btn btn-dark mx-2">
            <i class="fa-solid fa-envelope"></i> Email
        </a>
        <a href="https://rubyonrails.org" target="_blank" class="btn btn-dark mx-2">
            <i class="fa-solid fa-gem"></i> Powered By Rails
        </a>
    </div>
</div>