<h1><%= @gallery.title %></h1>
<p><%= @gallery.description %></p>

<div class="gallery">
  <% @gallery.images.each do |image| %>
    <div class = "gallery-item">
      <%= image_tag "galleries/#{image.filename}", alt: image.name %>
      <p><%= image.name %></p>
    </div>
    <% end %>
</div>