<div id="<%= dom_id image %>">
  <div>
    <strong>Name:</strong>
    <%= image.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= image.description %>
  </div>

  <div>
    <strong>Gallery:</strong>
    <%= image.gallery_id %>
  </div>

</div>
